<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example2.parth.smart_tagging">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AdminLogInActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminSignUpActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_admin_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminForgotCredentialsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_admin_forgot_credentials"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UsersHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_users_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".UsersLoginService" />

        <activity
            android:name=".AdminListUsersActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_admin_list_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminCreateUserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_admin_create_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApplicationLogoutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_application_logout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewTagLogsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_view_tag_logs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NfcClearTag"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_update_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminUserDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_admin_user_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendMessageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Send Message"></activity>
        <activity
            android:name=".AdminUserDetailsUpdateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_admin_user_details_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NfcReadActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Read Tag!"/>
        <activity
            android:name=".NfcWriteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Write Tag!"/>
        <activity
            android:name=".NfcCreateTag"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Create Tag!"/>
        <activity
            android:name=".AdminSignUpActivity2"
            android:label="@string/title_activity_admin_sign_up2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>